.character {
  background-repeat: no-repeat;
  background-position: center;

  &.grass {
    background-color: #5da88a;
    background-image: url("../../images/character.svg"), url("../../images/grass.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.dirt {
    background-color: #9b6a49;
    background-image: url("../../images/character.svg"), url("../../images/dirt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sand {
    background-color: #f9ee67;
    background-image: url("../../images/character.svg"), url("../../images/sand.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}